<table style ="background-color: rgb(202, 164, 164); font-style: italic; font-size: larger; text-align: center;" >
  
    Admin 
  </table>
  <hr><hr>
  
  
  <table style=" width: 100%;height: 10%; background-color: cornsilk;" >
    <tr>
      <td style="width: 15%; text-align: center;">  <a routerLink="/addcab"> Add Cab</a>  </td>
      <td style="width: 15%; text-align: center;">  <a routerLink="/searchcab"> Search Cab</a>  </td>
      
      <td style="width: 15%; text-align: center;">  <a routerLink="/updatecab"> Update Cab</a>  </td>
      <td style="width: 15%; text-align: center;">  <a routerLink="/adddriver"> Add Driver</a>  </td>
      <td style="width: 15%; text-align: center;">  <a routerLink="/updatedriver"> Update Driver</a>  </td>
      <td style="width: 15%; text-align: center;">  <a routerLink="/viewtripdetails"> View All Trips</a>  </td>
      
      
    </tr>
  </table>
  <hr/>
  <router-outlet></router-outlet>


